<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<body>
    <ul class="nav nav-pills">
      <li class="navbar active"><a href="/">Home</a></li>
      <li class="active"><a href="/boo">Boo</a></li>
      <li class="navbar active"><a href="/books">Books - [Database]</a></li>
      <li class="navbar active"><a href="#">Menu 3</a></li>
    </ul>
    
  <h1>{{ .Monster }}</h1>
    <h2>Jumbotron</h2>
  <div class="jumbotron">{{ .Says }}</div>
  <div class="container">
    <div><em>{{ .Apology }}</em></div>      
  </div>
    
</body>
</html>